* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #0c192c;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubbles {
  position: relative;
  display:flex ;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background:#4fc3dc ;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
   0 0  50px #4fc3dc, 
   0 0 100px #4fc3dc;
   animation: animate 15s linear infinite;
   animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even) {
  background:#ff2d75 ;
  box-shadow: 0 0 0 10px #ff2d7544,
   0 0  50px #ff2d75 , 
   0 0 100px #ff2d75 ;
}

@keyframes animate
{
  0%
  {
    transform: translateY(100vh) scale(0);
  }
  100%
  {
    transform: translateY(-10vh) scale(1);
  }
}

.songname {
  border: 3px black solid ;
  width: 250px;
  height: 50px;
  margin: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.songname p {
  display: inline-block;
  animation: animated 3s infinite alternate ease-in-out;
}

@keyframes animated {
  0%,
  20%
  {
    transform: translateX(0%);
    left : 100%;
    right: 50%;
  }
  80%,
  100%{
    transform: translateX(100%);
    left: 50%;
    right: 100%;
  }

}

.searchDiv {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 50px 0px;
  justify-content: center;
}

.categoryDiv {
  position: absolute;
  left: 39%;
  top: 78%;
  width: 100%;
  height: 100vh;
  margin: 50px 0px;
  justify-content: center;
}

#category {
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 20%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

#search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}


.search:hover, .search:focus {
  border: 1.5px solid #009688;
  background-color: white;
}



#player {
  width: 360px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header {
  text-align: center;
  color: white;
  height: 300px;
}

header img {
  height: 140px;
  width: 140px;
  margin-top: 20px;
}

header h2 {
  margin: 20px 0px;
  font-size: 30px;
  font-family: arial;
}

header p {
  font-size: 20px;
  font-family: arial;
}

   
#content {
  background-color: transparent;
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttons img {
  cursor: pointer;
  height: 150px;
  padding: 20px;
  margin: 0 15px;
}

#buttons img:hover {
  cursor: pointer;
}

#Volume {
  text-align: center;
  font-family: arial;
}

#Volume input {
  width: 300px;
}

#Volume h2 {
  color: white;
}

input[type="range" i] {
  -webkit-appearance: none;
  background: rgb(172, 172, 172);
  height: 5px;
  border-radius: 2px;
  margin: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #009FFF;
  width: 10px;
  height: 30px;
  border-radius: 10px;
}

